snippet --
--==============================
-- $0
--==============================
endsnippet

snippet st
std_logic
endsnippet

snippet std_logic
std_logic_vector ($0 downto 0)
endsnippet

snippet en
entity $1 is
  generic (

  );
  port (

  );
end entity $1;
endsnippet
